<ul class="sidebar">
    <li class="{% if ACTIVE_SECTION == '' %}active {% endif %}first"> <!--always define class .first for first-child of li element sidebar left-->
        <a href="/" title="dashboard">
            <div class="helper-font-24">
                <i class="icofont-dashboard"></i>
            </div>
            <span class="sidebar-text">dashboard</span>
        </a>
    </li>
    <li{% if ACTIVE_SECTION == 'accounts' %} class="active"{% endif %}>
        <a href="/accounts/" title="interface">
            <div class="helper-font-24">
                <i class="icofont-user"></i>
            </div>
            <span class="sidebar-text">people</span>
        </a>
    </li>
{% if ENABLE_MUSIC == '1' %}
    <li{% if ACTIVE_SECTION == 'music' %} class="active"{% endif %}>
        <a href="/music/" title="form">
            <div class="helper-font-24">
                <i class="icofont-music"></i>
            </div>
            <span class="sidebar-text">music</span>
        </a>
        <ul class="sub-sidebar-form corner-top shadow-white music-sidebar">
            <li class="title muted">Currently Playing</li>
            <li id="music_currently_playing">
                {% if MUSIC_PLAYING %}
                    <em>{{ MUSIC_PLAYING.artist }}</em> - {{ MUSIC_PLAYING.title }}
                {% else %}
                    Nothing is currently playing
                {% endif %}
            </li>
            <li class="divider"></li>
            <li><label for="music_search_input" class="muted">Find a song to request</label></li>
            <li>
                <input type="text" name="s" id="music_search_input"/>
            </li>
            <li>
                <div id="music_search_results"></div>
            </li>
        </ul>
    </li>
{% endif %}
{% if ENABLE_SERVERS == '1' %}
    <li{% if ACTIVE_SECTION == 'servers' %} class="active"{% endif %}>
        <a href="/servers/" title="servers">
            <div class="helper-font-24">
                <i class="icofont-hdd"></i>
            </div>
            <span class="sidebar-text">servers</span>
        </a>
    </li>
{% endif %}
{% if ENABLE_TOURNAMENTS == '1' %}
    <li{% if ACTIVE_SECTION == 'tournaments' %} class="active"{% endif %}>
        <a href="/tournaments/" title="charts">
            <div class="helper-font-24">
                <i class="icofont-flag"></i>
            </div>
            <span class="sidebar-text">tournaments</span>
        </a>
    </li>
{% endif %}
{% if ENABLE_NOMS == '1' %}
    <li{% if ACTIVE_SECTION == 'noms' %} class="active"{% endif %}>
        <a href="/noms/" title="noms">
            <div class="helper-font-24">
                <i class="icofont-glass"></i>
            </div>
            <span class="sidebar-text">noms</span>
        </a>
    </li>
{% endif %}
{% if ENABLE_BENCHMARKS == '1' %}
    <li{% if ACTIVE_SECTION == 'benchmarks' %} class="active"{% endif %}>
        <a href="/benchmarks/" title="benchmarks">
            <div class="helper-font-24">
                <i class="icofont-bar-chart"></i>
            </div>
            <span class="sidebar-text">benchmarks</span>
        </a>
    </li>
{% endif %}
{% if ENABLE_GALLERY == '1' %}
    <li{% if ACTIVE_SECTION == 'gallery' %} class="active"{% endif %}>
        <a href="/gallery/" title="gallery">
            <div class="helper-font-24">
                <i class="icofont-picture"></i>
            </div>
            <span class="sidebar-text">gallery</span>
        </a>
    </li>
{% endif %}
{% if request.user.profile.admin %}
    <li{% if ACTIVE_SECTION == 'admin' %} class="active"{% endif %}>
        <a href="/admin/" title="gallery">
            <div class="helper-font-24">
                <i class="icofont-cogs"></i>
            </div>
            <span class="sidebar-text">admin</span>
        </a>
    </li>
{% endif %}
</ul>