<ul class="sidebar">
    <li class="active first"> <!--always define class .first for first-child of li element sidebar left-->
        <a href="/" title="dashboard">
            <div class="helper-font-24">
                <i class="icofont-dashboard"></i>
            </div>
            <span class="sidebar-text">dashboard</span>
        </a>
    </li>
    <li>
        <a href="/accounts/" title="interface">
            <div class="helper-font-24">
                <i class="icofont-user"></i>
            </div>
            <span class="sidebar-text">people</span>
        </a>
    </li>
    <li>
        <a href="/music/" title="form">
            <div class="helper-font-24">
                <i class="icofont-music"></i>
            </div>
            <span class="sidebar-text">music</span>
        </a>
        <ul class="sub-sidebar-form corner-top shadow-white">
            <li class="title muted">Quick Upload</li>
            <li>
                <input type="file" data-form="uniform" onchange="alert('your progres uploading file...')" />
            </li>
            <li class="divider"></li>
            <li>
                <a href="form.html" title="form element" class="corner-all">
                    <i class="icofont-file"></i>
                    <span class="sidebar-text">Form Element</span>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="code_editor.html" title="code editor" class="corner-all">
                    <i class="icofont-book"></i>
                    <span class="sidebar-text">Code Editor</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shoutbox/" title="gallery">
            <div class="helper-font-24">
                <i class="icofont-bullhorn"></i>
            </div>
            <span class="sidebar-text">shoutbox</span>
        </a>
    </li>
    <li>
        <a href="/servers/" title="gallery">
            <div class="helper-font-24">
                <i class="icofont-hdd"></i>
            </div>
            <span class="sidebar-text">servers</span>
        </a>
    </li>
    <li>
        <a href="/tournaments/" title="charts">
            <div class="helper-font-24">
                <i class="icofont-flag"></i>
            </div>
            <span class="sidebar-text">tournaments</span>
        </a>
    </li>
    <li>
        <a href="/gallery/" title="gallery">
            <div class="helper-font-24">
                <i class="icofont-picture"></i>
            </div>
            <span class="sidebar-text">gallery</span>
        </a>
    </li>
    <li>
        <a href="/admin/" title="gallery">
            <div class="helper-font-24">
                <i class="icofont-cogs"></i>
            </div>
            <span class="sidebar-text">admin</span>
        </a>
    </li>
</ul>