{% extends "application.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="span7">
        <table id="music_table" class="table datatable table-bordered table-striped responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>Game</th>
                <th>Starts</th>
                <th>Ends</th>
                <th>T.Size</th>
                <th>Teams</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.game }}</td>
                <td>{{ tournament.starts }}</td>
                <td>{{ tournament.ends }}</td>
                <td>{{ tournament.team_size }}</td>
                <td>{{ tournament.team_count }}/{{ tournament.max_teams|default:"&infin;" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span4 well">
        <h4>Make an announcement</h4>
        {% crispy tournament_form %}
    </div>

    <div class="clearfix"></div>
    <!-- modal -->
    <div id="confirm-delete-modal" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Delete this tournament?</h3>
        </div>
        <div class="modal-body">
            <p>You are about to delete one tournament from the database, this procedure is irreversible.</p>
            <p>Do you want to proceed?</p>
        </div>
        <div class="modal-footer">
            <a href="javascript:confirmedDelete('/admin/tournament/{0}/delete/')" class="btn danger">Yes</a>
            <a href="javascript:$('#confirm-delete-modal').modal('hide')" class="btn secondary">No</a>
        </div>
    </div>
    <!-- /modal -->
{% endblock %}