<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>pyParty - Internal Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="stilearning">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Aclonica:regular" rel="stylesheet" type="text/css" />

    <!-- styles -->
    <link href="{{ STATIC_URL }}css/bootstrap{% if not TEMPLATE_DEBUG %}.min{% endif %}.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/stilearn.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/stilearn-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/stilearn-helper.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/stilearn-icon.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/uniform.default.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/fullcalendar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-wysihtml5.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

    <body>
        <!-- section header -->
        <header class="header" data-spy="affix" data-offset-top="0">
            <!--nav bar helper-->
            <div class="navbar-helper">
                <div class="row-fluid">
                    <!--panel site-name-->
                    <div class="span2">
                        <div class="panel-sitename">
                            <h2><a href="/"><span class="color-teal">py</span>Party</a></h2>
                        </div>
                    </div>
                    <!--/panel name-->
                </div>
            </div><!--/nav bar helper-->
        </header>
        
        <!-- section content -->
        <section class="section">
            <div class="container">
                <div class="error-page">
                    <h1 class="error-code color-red">Error 500</h1>
                    <p class="error-description muted">{{ exception_value }}</p>
                    <a href="/" class="btn btn-small btn-primary"><i class="icofont-arrow-left"></i> Back to Dashboard</a>
                </div>
            </div>
        </section>

        <!-- section footer -->
        <footer>
            <a rel="to-top" href="#top"><i class="icofont-circle-arrow-up"></i></a>
        </footer>

        <!-- javascript
        ================================================== -->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script type="text/javascript" src="https://pyparty.atlassian.net/s/en_USefqp53-418945332/6025/26/1.3.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=7b242099"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {

                    // ==== custom trigger function ====
                    triggerFunction : function( showCollectorDialog ) {
                        $('#feedback-button').on( 'click', function(e) {
                            e.preventDefault();
                            showCollectorDialog();
                        });
                    },
                    // ==== we add the code below to set the field values ====
                    fieldValues: {
                        summary : '{{ exception_value }}',
                        description : '{{ traceback }}'
                    }
                });
            });
        </script>
    </body>
</html>
