<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ SITE_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="stilearning">

    <!-- styles -->
    <link href="{{ STATIC_URL }}css/pyparty.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<!-- section header -->
<header class="header">
    <!--nav bar helper-->
    <div class="navbar-helper">
        <div class="row-fluid">
            <!--panel site-name-->
            <div class="span2">
                <div class="panel-sitename">
                    <h2><a href="/">{{ SITE_TITLE|safe }}</a></h2>
                </div>
            </div>
            <!--/panel name-->

            <div class="span8">
                <!--panel headline-->
                <!--/panel headline-->
            </div>
            <div class="span2">
                <!--panel user-->
                {% include 'widgets/user_panel.html' %}
                <!--panel user-->
            </div>
        </div>
    </div><!--/nav bar helper-->
</header>

<!-- section content -->
<section class="section">
<div class="row-fluid">
<!-- span side-left -->
<div class="span1">
    <!--side bar-->
    <aside class="side-left">
        {% include 'widgets/sidebar_navigation.html' %}
    </aside><!--/side bar -->
</div><!-- span side-left -->

<!-- span content -->
<div class="span9">
<!-- content -->
<div class="content">
<!-- content-header -->
<div class="content-header">
    <h2><i class="icofont-{{ icon }}"></i> {{ title }} <small>{{ message|safe }}</small></h2>
</div><!-- /content-header -->

<!-- content-body -->
<div class="content-body">

    <!-- shortcut group -->
    <div class="shortcut-group">
        {% block shortcut-group %}{% endblock %}
    </div><!-- /shortcut group -->

    <!-- content -->
    {% block content %}
        <div class="divider-content"><span></span></div>
    {% endblock %}
    <!-- /content -->

</div><!--/content-body -->
</div><!-- /content -->
</div><!-- /span content -->

<!-- span side-right -->
<div class="span2">
<!-- side-right -->
<aside class="side-right">
<!-- sidebar-right -->
<div class="sidebar-right">
    {% include "widgets/chatbox.html" %}
</div><!-- /sidebar-right -->
</aside><!-- /side-right -->
</div><!-- /span side-right -->
</div>
</section>

<!-- javascript
================================================== -->
<script src="{{ STATIC_URL }}js/jquery{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/bootbox{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datetimepicker{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/jquery.percentageloader{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/datatables/jquery.dataTables{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/toastr{% if not TEMPLATE_DEBUG %}.min{% endif %}.js"></script>
<script src="{{ STATIC_URL }}js/datatables/DT_bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/moment.js"></script>
<script src="{{ STATIC_URL }}js/pyparty.js"></script>
{% include 'widgets/alert_messages.html' %}
<!-- /messages --->

<!-- section footer -->
<footer>
    Powered by <a href="http://www.pypartylan.com/">pyParty</a>.
</footer>

</body>
</html>
