{% extends "application.html" %}

{% block shortcut-group %}
    <!--<ul class="a-btn-group">
        <li>
            <a href="#" class="a-btn grd-white" rel="tooltip" title="add new post">
                <span></span>
                <span><i class="icofont-edit color-silver-dark"></i></span>
                <span class="color-silver-dark"><i class="icofont-file color-silver-dark"></i></span>
            </a>
        </li>
        <li>
            <a href="#" class="a-btn grd-white" rel="tooltip" title="upload something">
                <span></span>
                <span><i class="icofont-upload color-silver-dark"></i></span>
                <span class="color-silver-dark"><i class="icofont-upload-alt color-silver-dark"></i></span>
            </a>
        </li>
        <li>
            <a href="#" class="a-btn grd-white" rel="tooltip" title="message">
                <span></span>
                <span><i class="icofont-envelope color-silver-dark"></i></span>
                <span class="color-silver-dark"><i class="icofont-envelope-alt color-teal"></i></span>
                <div class="badge badge-info">9</div>
            </a>
        </li>
        <li>
            <a href="#" class="a-btn grd-white" rel="tooltip" title="invoice">
                <span></span>
                <span><i class="icofont-barcode color-silver-dark"></i></span>
                <span class="color-silver-dark"><i class="icofont-shopping-cart color-red"></i></span>
                <div class="label label-important">2</div>
            </a>
        </li>
        <li>
            <a href="#" class="a-btn grd-white" rel="tooltip" title="check statistics">
                <span></span>
                <span><i class="icofont-bar-chart color-silver-dark"></i></span>
                <span class="color-silver-dark"><i class="typicn-lineChart"></i></span>
            </a>
        </li>
        <li class="clearfix"></li>
    </ul>
    -->
{% endblock %}

{% block content %}
    <!--{{ block.super }}-->

    <!-- tab resume content -->
    <div class="row-fluid">
        <!-- tab resume update -->
        <div class="span9">
            <div class="box-tab corner-all">
                <div class="box-header corner-top">
                    <!--tab action-->
                    <div class="header-control">
                        <h5><i class="icon-bullhorn"></i> Recent Announcements</h5>
                    </div>
                    <ul class="nav nav-pills"></ul>
                </div>
                <div class="box-body">
                    <div class="tab-pane fade in active" id="recent-orders">
                    {% if announcements.count == 0 %}
                        <h3>&nbsp;&nbsp;&nbsp;Yikes!  There's nothing here!&nbsp;&nbsp;&nbsp;:(</h3>
                    {% else %}
                        {% for announcement in announcements %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ announcement.title }}<small class="helper-font-small"> by {{ announcement.author.username }} at {{ announcement.posted_on|date:"D g:i a" }}</small></h4>
                                    <div>
                                        {{ announcement.body }}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                        <a href="/announcements/" class="btn btn-small btn-link pull-right">View all &rarr;</a>
                    {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div><!--/box-body-->
            </div><!--/box-tab-->
        </div><!-- /span9 -->
        <div class="span3">
            <div class="box corner-all">
                <div class="box-header corner-top grd-white">
                    <div class="header-control">
                        <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                        <a data-box="close" data-hide="rotateOutDownRight">&times;</a>
                    </div>
                    <span><i class="icofont-tasks"></i> Quick Tasks</span>
                </div>
                <div class="box-body">
                    <div class="btn-group btn-group-vertical full-width">
                        {% if not request.user.profile.avatar %}
                            <button class="btn btn-warning"><a href="/accounts/profile/edit/">Set up your profile</a></button>
                        {% endif %}
                        {% if ENABLE_SERVERS %}
                            <button class="btn btn-{% if request.user.servers.count == 0 %}danger{% else %}success{% endif %}"><a href="/servers/register/">Register your servers</a></button>
                        {% endif %}
                        {% if ENABLE_TOURNAMENTS %}
                            <button class="btn btn-{% if request.user.tournaments.count == 0 %}danger{% else %}success{% endif %}"><a href="/tournaments/register/">Register for tournaments</a></button>
                        {% endif %}
                        {% if ENABLE_MUSIC %}
                            <button class="btn btn-info" ><a href="/music/">Request some Music</a></button>
                        {% endif %}
                        {% if request.user.profile.avatar %}
                            <button class="btn btn-primary"><a href="/accounts/profile/edit/">Edit your profile</a></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- tab stat -->

    <!--schedule
    <div class="box corner-all">
        <div class="box-header grd-white color-silver-dark corner-top">
            <div class="header-control">
                <a data-box="collapse"><i class="icofont-caret-up"></i></a>
            </div>
            <span>Schedule this month</span>
        </div>
        <div class="box-body">
            <div id="schedule">{{ request.user.tournaments.count }}</div>
        </div>
    </div>
    <!--schedule-->

{% endblock %}