{% extends "application.html" %}

{% block content %}
    <div class="box-tab corner-all">
        <div class="box-header corner-top">
            <div class="header-control pull-right">
                <a data-box="collapse"><i class="icofont-caret-up"></i></a>
            </div>
            <ul class="nav nav-tabs" id="tab-stat">
                <li class="active"><a data-toggle="tab" href="#system-stat">System Stat</a></li>
                <li><a data-toggle="tab" href="#server-stat">Server Stat</a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="system-stat">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="dashboard-stat">
                                <div id="visitor-stat" class="chart" style="height: 120px;"></div>
                                <div class="stat-label grd-green color-white">Visitor</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="dashboard-stat">
                                <div id="order-stat" class="chart" style="height: 120px;"></div>
                                <div class="stat-label grd-teal color-white">Users</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="dashboard-stat">
                                <div id="user-stat" class="chart" style="height: 120px;"></div>
                                <div class="stat-label grd-red color-white">Orders</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="server-stat">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="dashboard-stat" rel="tooltip" title="usage 2465kb of 5000kb">
                                <input data-chart="knob" type="text" data-readOnly=true data-width="120" data-height="120" data-fgColor="#00A600" value="2465" data-min="0" data-max="5000" />
                                <div class="stat-label grd-green color-white">Monthly Bandwidth</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="dashboard-stat" rel="tooltip" title="usage 8795kb of 10000kb">
                                <input data-chart="knob" type="text" data-readOnly=true data-width="120" data-height="120" data-fgColor="#00A0B1" value="8795" data-min="0" data-max="10000" />
                                <div class="stat-label grd-teal color-white">Disk Space</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="dashboard-stat" rel="tooltip" title="server condition 70%, it's good!">
                                <input data-chart="knob" type="text" data-readOnly=true data-width="120" data-height="120" data-fgColor="#AC193D" value="70" data-min="0" data-max="100" />
                                <div class="stat-label grd-red color-white">Server Health</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}